.sidebar{
    width: 15%;
}
a{
	text-decoration: none;
	font-weight: 700;
	
}
@media (max-width: 1440px) {
    .sidebar{
        width: 20%;
    }
  }
.sidebar-title{
    color: #09244B;
    font-weight: 700;
    font-size: 14px;
}
.sidebar a{
    color: #ffffff;
}

.sidebar a:hover{
    color: #c8ced8;
}

.sidebar .active{
    background: #F1592A;
    width: 100%;
    border-radius: 8px;
}

.sidebar .active span{
    color: white;
}
.sidebar .active i{
    color: #8491A5;
}
.footer-sidebar{
    background: #09244B08;
    padding: 10px;
    width: 100%;
}
.footer-sidebar .footer-user{
    font-weight: 500;
    color: #09244B;
    font-size: 14px;
}
.footer-sidebar .footer-nip{
    color: #000000;
    font-size: 12px;
}

.dropzone {
    min-height: 150px;
    border: 2px dashed rgba(0,0,0,.3);
    background: #fff;
    padding: 20px 20px;
}

.bg-card{
    background: #D9D9D980;
    border-radius: 23px;
    padding: 20px;
    position: relative;
}

.bg-card-pengiriman {
    background: #D9D9D980;
    border-radius: 23px;
    padding: 20px;
    position: relative;
}

.carousel-cell {
    width: min-content; /* full width */
    margin-right: 10px;
  }

.card-aktivitas{
    min-width: 243px;
    height: 100%;
    width: calc((100% / 5) - 14px);
    margin-right: 15.75px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card-title{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* or 133% */

    text-align: center;

    color: #000000;
}

.card-text{
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 12px;
    text-align: center;
    color: #737171;
}

.bullet-count-kosong p{
    background: #666666;
    border-radius: 9999px;
    color: #FFFFFF;
    width: 26.57px;
    height: 26.57px;
    text-align: center;
}

.bullet-count-baik p{
    background: #39B54A;
    border-radius: 9999px;
    color: #FFFFFF;
    width: 26.57px;
    height: 26.57px;
    text-align: center;
}

.bullet-count-rusak p{
    background: #F1592A;
    border-radius: 9999px;
    color: #FFFFFF;
    width: 26.57px;
    height: 26.57px;
    text-align: center;
}

.pill-baik p{
    background: #39B54A;
    border-radius: 9999px;
    color: #FFFFFF;
    width: 55.63px;
    height: 22.14px;
    text-align: center;
    font-size: 12px;
    padding: 2px;
}

.pill-rusak p{
    background: #F1592A;
    border-radius: 9999px;
    color: #FFFFFF;
    width: 66.63px;
    height: 22.14px;
    text-align: center;
    font-size: 12px;
    padding: 2px;
}

.pill-kosong p{
    background: #666666;
    border-radius: 9999px;
    color: #FFFFFF;
    width: 66.63px;
    height: 22.14px;
    text-align: center;
    font-size: 12px;
    padding: 2px;
}

.kontainer-pengiriman{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card-pengiriman{
    background: #007AFF;
    border-radius: 15px;
    min-width: 250px;
    /* min-width: calc((100% / 5) - 14px); */
    width: 100%;
    height: 100%;
    padding: 20px;
}

.card-pengiriman p{
    color: #FFFFFF;
    font-size: 18px;
}

.status-dikirim p {
    font-size: 14px;
}

.status-diterima p {
    font-size: 14px;
}


.card-items{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #737171;
}

.status-dikirim{
    background: #F1592A;
	color: #ffffff;
    border-radius: 6px;
    padding: 0px 20px 0px 20px;
}
.status-diterima{
    background: #39B54A;
	color: #ffffff;
    border-radius: 6px;
    padding: 0px 20px 0px 20px;
}

.last-updated{
    position: absolute;
    margin: 0;
    margin-right: auto;
    right: 18px;
    bottom: 10px;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #B7B5B5;
}

.status-aktivitas{
    font-style: normal;
    font-weight: 600;
    font-size: 7px;
    line-height: 12px;
    color: #000000;
}

.btn-tambah{
    width: 100%;
    background: #F1592A;
    border-radius: 7px;
    color: #FFFFFF;
    border: 0;
    padding: 10px;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
}

.overlay {
    display: none;
    background: #000;
    opacity: .3;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    cursor: pointer;
}
  
.sidebar-overlay {
    width: 300px;
    background: #39b54a;
    position: fixed;
    right: -300px;
    height: 100%;
    transition: .3s;
    z-index: 9999;
}

.sidebar-btn{
    background: #F1592A;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

@media (max-width: 768px){
    .dropdown-item{
        display: block;
        width: 100%;
        padding: 0.25rem 1rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }
    .bg-card-pengiriman {
        background: #D9D9D980;
        border-radius: 23px;
        padding: 10px;
        position: relative;
    }
    .card-pengiriman{
        min-width: 100.38px;
        width: 100%;
    }

    .card-pengiriman p{
        color: #FFFFFF;
        font-size: 8px;
    }

    .card-pengiriman img{
        width: 10px;
    }

    .status-dikirim{
        background: #F1592A;
        border-radius: 8px;
        padding: 1px 10px 1px 10px;
    }

    .status-diterima{
        background: #39B54A;
        border-radius: 8px;
        padding: 1px 10px 1px 10px;
    }

    .status-dikirim p {
        font-size: 6px;
    }

    .status-diterima p {
        font-size: 6px;
    }

    .card-items {
        font-size: 10px;
    }
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 1.5rem;
        pointer-events: none;
    }
}
