body{
    background-image: url("../images/industrial-container-yard-logistic-import-export-business.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.content-login{
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 525px;
    padding: 23px;
    margin: 125px auto;
    background: rgba(246, 246, 246, 0.75);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
}

.content-login button {
    width: 100%;
    background: linear-gradient(270.39deg, #F1592A 1.93%, #FFE82E 98.2%);
    border-radius: 19px;
    color: #FFFFFF;
    border: 0;
    padding: 10px;
}

.btn-about{
    background: #F1592A;
    border-radius: 36px;
    color: #FFFFFF;
    border: 0;
    padding: 10px;
    width: 25%;
    text-decoration: none;
}

@media (max-width: 768px) {
    .btn-about {
        background: #F1592A;
        border-radius: 36px;
        color: #FFFFFF;
        border: 0;
        padding: 10px;
        width: 75%;
        text-decoration: none;
    }
}
