.card-shipping{
    background: #D9D9D980;
    border-radius: 23px;
}

.form-shipping{
    background: #D0E0F9;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}

.form-shipping h4{
    font-weight: 700;
}

.form-shipping .rounded-form{
    border-radius: 16px;
}

.rounded-form h4{
    font-weight: 600;
    margin-bottom: 24px;
}

.form-shipping input, select, textarea{
    width: 100%;
    border-radius: 8px;
    background: #ECECEC;
    border: 0;
    padding: 8px;
    text-align: center;
    font-weight: #737171;
    font-style: italic;
    font-weight: 300;
}
.form-shipping textarea{
    text-align: start;
}

.form-shipping button{
    border-radius: 19px;
    border: 0;
    background: #FFFFFF;
    color: #000000;
    font-weight: 600;
    font-size: 2rem;
    padding: 15px 25px 15px 25px;
}

.form-shipping button:hover{
    background: grey;
}

.dropdown-toggle::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.modal-body input, select{
    width: 100%;
    border-radius: 8px;
    background: #ECECEC;
    border: 0;
    padding: 8px;
    font-weight: #737171;
    font-style: italic;
    font-weight: 300;
}

.modal-body button{
    width: 100%;
    border-radius: 8px;
    background: #2AC670;
    border: 0;
    padding: 8px;
    color: #FFFFFF;
    font-weight: 600;
}

@media (max-width: 768px){
    .form-shipping{
        background: #D9D9D9;
    }
    .card-shipping{
        background: #fff;
        border-radius: 0px;
    }
    .form-shipping h4 {
        text-align: center;
        padding: 20px;
    }

    .modal-body input, select{
        width: 100%;
        border-radius: 8px;
        background: #FFFFFF;
        border: 0;
        padding: 8px;
        font-style: italic;
        font-weight: 300;
        border: #737171 2px solid;
    }

    .form-shipping input, select, textarea{
        width: 100%;
        border-radius: 6px;
        background: #FFFFFF;
        border: #737171 2px solid;
        padding: 8px;
        text-align: start;
        font-style: normal;
        font-weight: 300;
    }

    .form-group>label {
        bottom: 34px;
        left: 15px;
        position: relative;
        background-color: white;
        padding: 0px 5px 0px 5px;
        font-size: 14px;
        transition: 0.2s;
        pointer-events: none;
    }

    .modal-body button{
        background: #F15E5D;
        border-radius: 7px;
    }
      
    .form-control~label {
    bottom: 55px;
    }
    
    .form-control~label {
    bottom: 55px;
    }

    .dataTables_length{
        display: none;
    }

    .dataTables_filter{
        display: none;
    }

    .none{
        display: none;
    }
}