.card-storage{
    background: #D9D9D980;
    border-radius: 23px;
}

.form-storage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-storage .rounded-form{
    border-radius: 16px;
}

.rounded-form h4{
    font-weight: 600;
    margin-bottom: 24px;
}

.form-storage input, select, textarea{
    width: 100%;
    border-radius: 8px;
    background: #ECECEC;
    border: 0;
    padding: 8px;
    text-align: center;
    font-weight: #737171;
    font-style: italic;
    font-weight: 300;
}
.form-storage textarea{
    text-align: start;
}

.form-storage button{
    border-radius: 19.5px;
    width: 100%;
    border: 0;
    background: #2AC670;
    color: #FFFFFF;
    font-weight: 600;
    padding: 4px;
}

.dropdown-toggle::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.modal-body input, select{
    width: 100%;
    border-radius: 8px;
    background: #ECECEC;
    border: 0;
    padding: 8px;
    font-weight: #737171;
    font-style: italic;
    font-weight: 300;
}

.modal-body button{
    width: 100%;
    border-radius: 8px;
    background: #2AC670;
    border: 0;
    padding: 8px;
    color: #FFFFFF;
    font-weight: 600;
}
@media (max-width: 768px){
	.modal-body input, select{
        width: 100%;
        border-radius: 8px;
        background: #FFFFFF;
        border: 0;
        padding: 8px;
        font-style: italic;
        font-weight: 300;
        border: #737171 2px solid;
    }
	.modal-body button{
        background: #F15E5D;
        border-radius: 7px;
    }
    .form-storage{
        grid-template-columns: 1fr;
    }
    .card-storage{
        background: #fff;
        border-radius: 0px;
    }

    .form-storage button{
        background: #F15E5D;
        border-radius: 7px;
        padding: 10px;
    }

    .form-storage input, select, textarea{
        width: 100%;
        border-radius: 6px;
        background: #FFFFFF;
        border: #737171 2px solid;
        padding: 8px;
        text-align: start;
        font-style: normal;
        font-weight: 300;
    }

    .form-group>label {
        bottom: 34px;
        left: 15px;
        position: relative;
        background-color: white;
        padding: 0px 5px 0px 5px;
        font-size: 14px;
        transition: 0.2s;
        pointer-events: none;
    }
      
    .form-control~label {
    bottom: 55px;
    }
    
    .form-control~label {
    bottom: 55px;
    }

	
    .dataTables_length{
        display: none;
    }

    .dataTables_filter{
        display: none;
    }

    .card-body{
        display: none;
    }
}
